body{
    font-family: Inconsolata;
    font-size: 15pt;
    background-color: lightgreen;
    color: darkblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    font-size: 40pt;
}

header, footer{
    color:white;
    background-color:blue;
    text-align:center;
}

#hero{
    text-align:center;
    font-weight: 600;
}

#hero img{
    width:400px;
}

#hobbies h2, #gallery h2, #article h2{
    margin-bottom:5px;
    font-style:italic;
}

#hobbies{
    display:flex;
    flex-direction: column;
    align-items:center;
}

#hobbies ul li, #gallery figure, #gallery figcaption{
    margin-bottom: 2px;
    border:5px inset darkslategray;
    border-bottom-right-radius:10px;
    background:rgb(196, 248, 196);
    color:black;
    font-weight: 600;
    padding:10px;
}

#gallery figure{
    display:grid;
    grid-template-columns:2fr 1fr;
}

#gallery figcaption{
    
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    margin-left:1rem;
    
}


#article p:first-letter{
    color:darkslategray;
    font-size:20pt;
    font-weight: 600;
    background: rgb(169, 234, 255);
    padding:5px;
    margin-right:10px;
    border:black solid 2px;
    font-family: "Playfair Display";
    float:left; 
}

#gallery figure{
    padding:10px;
}

#top-button{
    position:fixed;
    bottom:5px;
    right:5px;
    padding:5px;
    background:white;
    border:3px solid lightgray;
    opacity: 50%;
}

#top-button:link, #top-button:visited{
    color:black;
    font-variant:small-caps;
    text-decoration:none;
}

#top-button:hover, #top-button:active{
    background:darkgrey;
    color:white;
    text-decoration:none;
}


footer{
    text-align:center;
    font-size:15pt;
    font-weight: 500;
}

@media screen and (min-width:60em) {
    #gallery {

    }
    
}