body{
    font-family: Inconsolata;
    font-size: 15pt;
    background-color: lightgreen;
    color: darkblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    font-size: 40pt;
}

header, footer{
    color:white;
    background-color:blue;
    text-align:center;
}

#hero{
    text-align:center;
    font-weight: 600;
}

#hero img{
    width:400px;
}

#hobbies h2, #gallery h2, #article h2{
    margin-bottom:5px;
    font-style:italic;
}

#hobbies ul li, #gallery figure{
    margin-bottom: 2px;
    border:5px inset darkslategray;
    border-bottom-right-radius:10px;
    background:rgb(196, 248, 196);
    color:black;
    font-weight: 600;
}

#hobbies ul li:first-letter{
    color:darkslategray;
    font-size:20pt;
}

#gallery figure{
    padding:10px;
}

#top-button{
    position:fixed;
    bottom:5px;
    right:5px;
}


footer{
    text-align:center;
    font-size:15pt;
    font-weight: 500;
}

